/*
  ===========================
          Start NavBar
  ===========================
*/

@media (max-width: 992px) {
  nav .navbar-collapse .navbar-nav {
    background-color: white;
  }

  nav .navbar-collapse .navbar-nav .nav-item {
    padding: 5px !important;
    text-align: center;
  }

  nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #000 !important;
  }

  nav .navbar-toggler {
    border: none;
  }

  nav .navbar-toggler:focus {
    box-shadow: none;
  }

  nav .open-menu {
    color: white;
  }
}

/*
  ===========================
          End NavBar
  ===========================
*/

/*
  ===========================
        Start Header
  ===========================
*/

@media (max-width:597px){
  header .animated p > span{
    display: block;
  }
}


/*
  ===========================
          End Header
  ===========================
*/

/*
  ===========================
          Start About
  ===========================
*/
@media (max-width: 992px) {
  .about picture {
    margin-bottom: 50px;
  }

  .about picture img {
    width: 90%;
    position: relative;
    left: 4%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about picture img {
    position: absolute;
    width: 100%;
    top: 45%;
    transform: translateY(-50%);
    left: 0%;
  }
}
@media (min-width: 1200px) {
  .about picture img {
    min-width: 75%;
    max-width: 80%;
    position: absolute;
    inset: 0;
    left: 15%;
  }

  .about picture::after {
    width: 70%;
    height: 80%;
    left: 8%;
    bottom: -6%;
  }

/*
  ===========================
          End About
  ===========================
*/
